In [2]:
import pandas as pd
#df_cluster = pd.read_csv('som_good_cluster8result.csv',index_col = 0)
df_cluster = pd.read_csv('som_good_cluster8_0913result.csv',index_col = 0)
df_cluster['datetime'] = pd.to_datetime(df_cluster.index)
df_cluster.set_index("datetime", inplace=True)
df_cluster.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13575 entries, 2017-12-27 01:00:00 to 2019-07-30 00:00:00
Data columns (total 2 columns):
fl_location    13575 non-null object
cluster        13575 non-null int64
dtypes: int64(1), object(1)
memory usage: 318.2+ KB

In [3]:
df_cluster['day'] = pd.to_datetime(df_cluster.index).date

In [4]:
df_cluster.head(3)

,fl_location,cluster,day
datetime,,,
2017-12-27 01:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27
2017-12-27 02:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27
2017-12-27 03:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27

In [5]:
df_cluster['YearMonth'] = df_cluster['day'].map(lambda x: 100*x.year + x.month)

In [6]:
df_cluster.head(4)

,fl_location,cluster,day,YearMonth
datetime,,,,
2017-12-27 01:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27,201712
2017-12-27 02:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27,201712
2017-12-27 03:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27,201712
2017-12-27 04:00:00,/public2/home/pathop/statistics_forecasting_hu...,0,2017-12-27,201712

In [7]:
df_cluster = df_cluster['2018-01-01 00:00:00':]

In [8]:
df_monthyear = df_cluster.groupby('YearMonth')['cluster'].value_counts().to_frame('每个月各个聚类计数').unstack()#reset_index()

In [9]:
df_my = df_monthyear.fillna(0)

In [10]:
df_my.to_csv('月统计.csv')

In [11]:
df_my.head(3)

          每个月各个聚类计数
cluster           0    1     2     3     4      5     6     7
YearMonth
201801        224.0  0.0   0.0   0.0   0.0  514.0   0.0   0.0
201802        367.0  0.0   0.0   0.0   0.0  305.0   0.0   0.0
201803        211.0  7.0  10.0  15.0  57.0  132.0  15.0  54.0

In [12]:
frame=pd.DataFrame(df_my.values,index=df_my.index,
               columns=['cluster_0','cluster_1','cluster_2','cluster_3','cluster_4','cluster_5','cluster_6','cluster_7'])

In [13]:
frame =frame.astype(int)
frame.head(3)

,cluster_0,cluster_1,cluster_2,cluster_3,cluster_4,cluster_5,cluster_6,cluster_7
YearMonth,,,,,,,,
201801,224,0,0,0,0,514,0,0
201802,367,0,0,0,0,305,0,0
201803,211,7,10,15,57,132,15,54

In [45]:
import pyecharts
from pyecharts import Overlap, Bar, Line, Grid, EffectScatter
grid = Grid()
v1 = list( frame['cluster_0'].values)       
v2 = list(frame['cluster_1'].values)          
v3 = list(frame['cluster_2'].values) 
v4 = list(frame['cluster_3'].values)    
v5 = list(frame['cluster_4'].values)  
v6 = list(frame['cluster_5'].values)  
v7 = list(frame['cluster_6'].values) 
v8 = list(frame['cluster_7'].values) 
my_attr = ["第{}月".format(i) for i in range(1, len(v1)+1)] 
#[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
bar = Bar(title="", title_pos="10%")
bar.add("聚类0", my_attr, v1,legend_pos="55%",is_more_utils = True,)
bar.add("聚类1", my_attr,v2,yaxis_formatter=" 个/小时",legend_pos ='25%',
        legend_orient="vertical",legend_top="15%")
bar.add("聚类2", my_attr, v3)
bar.add("聚类3", my_attr, v4)
bar.add("聚类4", my_attr, v5)
bar.add("聚类5", my_attr, v6)
bar.add("聚类6", my_attr, v7)
bar.add("聚类7", my_attr, v8,yaxis_formatter=" 个/小时",legend_pos ='25%',
        legend_orient="vertical",legend_top="15%")
overlap = Overlap(width=1200, height=600)
overlap.add(bar)
bar

In [102]:
frame.to_csv('year_month_cluster_count.csv')

In [105]:
frame.to_excel('year_month_cluster_count2.xlsx')

In [104]:
help(frame.to_excel)

Help on method to_excel in module pandas.core.generic:

to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None) method of pandas.core.frame.DataFrame instance
    Write object to an Excel sheet.

    To write a single object to an Excel .xlsx file it is only necessary to
    specify a target file name. To write to multiple sheets it is necessary to
    create an `ExcelWriter` object with a target file name, and specify a sheet
    in the file to write to.

    Multiple sheets may be written to by specifying unique `sheet_name`.
    With all data written to the file it is necessary to save the changes.
    Note that creating an `ExcelWriter` object with a file name that already
    exists will result in the contents of the existing file being erased.

    Parameters
    ----------
    excel_writer : str or ExcelWriter object
        File path or existing ExcelWriter.
    sheet_name : str, default 'Sheet1'
        Name of sheet which will contain DataFrame.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, optional
        Format string for floating point numbers. For example
        ``float_format="%.2f"`` will format 0.1234 to 0.12.
    columns : sequence or list of str, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of string is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, optional
        Column label for index column(s) if desired. If not specified, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.
    startrow : int, default 0
        Upper left cell row to dump data frame.
    startcol : int, default 0
        Upper left cell column to dump data frame.
    engine : str, optional
        Write engine to use, 'openpyxl' or 'xlsxwriter'. You can also set this
        via the options ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
        ``io.excel.xlsm.writer``.
    merge_cells : bool, default True
        Write MultiIndex and Hierarchical Rows as merged cells.
    encoding : str, optional
        Encoding of the resulting excel file. Only necessary for xlwt,
        other writers support unicode natively.
    inf_rep : str, default 'inf'
        Representation for infinity (there is no native representation for
        infinity in Excel).
    verbose : bool, default True
        Display more information in the error logs.
    freeze_panes : tuple of int (length 2), optional
        Specifies the one-based bottommost row and rightmost column that
        is to be frozen.

        .. versionadded:: 0.20.0.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    ExcelWriter : Class for writing DataFrame objects into excel sheets.
    read_excel : Read an Excel file into a pandas DataFrame.
    read_csv : Read a comma-separated values (csv) file into DataFrame.

    Notes
    -----
    For compatibility with :meth:`~DataFrame.to_csv`,
    to_excel serializes lists and dicts to strings before writing.

    Once a workbook has been saved it is not possible write further data
    without rewriting the whole workbook.

    Examples
    --------

    Create, write to and save a workbook:

    >>> df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
    ...                    index=['row 1', 'row 2'],
    ...                    columns=['col 1', 'col 2'])
    >>> df1.to_excel("output.xlsx")  # doctest: +SKIP

    To specify the sheet name:

    >>> df1.to_excel("output.xlsx",
    ...              sheet_name='Sheet_name_1')  # doctest: +SKIP

    If you wish to write to more than one sheet in the workbook, it is
    necessary to specify an ExcelWriter object:

    >>> df2 = df1.copy()
    >>> with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
    ...     df1.to_excel(writer, sheet_name='Sheet_name_1')
    ...     df2.to_excel(writer, sheet_name='Sheet_name_2')

    To set the library that is used to write the Excel file,
    you can pass the `engine` keyword (the default engine is
    automatically chosen depending on the file extension):

    >>> df1.to_excel('output1.xlsx', engine='xlsxwriter')  # doctest: +SKIP

In [89]:
pd.DataFrame(df_my.values)

        0     1      2      3      4      5      6      7
0   224.0   0.0    0.0    0.0    0.0  514.0    0.0    0.0
1   367.0   0.0    0.0    0.0    0.0  305.0    0.0    0.0
2   211.0   7.0   10.0   15.0   57.0  132.0   15.0   54.0
3   154.0  41.0   84.0  169.0   60.0   26.0   61.0  125.0
4     0.0  54.0  226.0  348.0   22.0    0.0   10.0   84.0
5     0.0  29.0  232.0  310.0   25.0    0.0    1.0  123.0
6     0.0  19.0  158.0  403.0   35.0    0.0    0.0  129.0
7     0.0  33.0  241.0  251.0   34.0    0.0    0.0  185.0
8     0.0  65.0  349.0  119.0   33.0    0.0    0.0  154.0
9   226.0  23.0   40.0   36.0  140.0    0.0  121.0  158.0
10  313.0   0.0    0.0   17.0   61.0  251.0   49.0   29.0
11  348.0   0.0    0.0    0.0    0.0  396.0    0.0    0.0
12  346.0   0.0    0.0    0.0    0.0  398.0    0.0    0.0
13   65.0   0.0    0.0    0.0    0.0  607.0    0.0    0.0
14  364.0   0.0    0.0   20.0    7.0  311.0   39.0    3.0
15  117.0  11.0   40.0  247.0   95.0   59.0   50.0  101.0
16   12.0  72.0  203.0  176.0   57.0   16.0   39.0  169.0
17    0.0  21.0  170.0  298.0   24.0    0.0    0.0  114.0
18    0.0  28.0  106.0  446.0   24.0    0.0    0.0   93.0